.Text {
    color: white;
    text-align: center;
    font-size: 31px;
    width: 20ch;
    font-family: monospace;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 4s 3s steps(20) alternate-reverse;
}

@keyframes typing {
    0% {
        width: 0ch;
    }
}